* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
#mapid canvas {
    display: block;
    width: 100%;
}

.leaflet-pane.leaflet-marker-pane img {
    transition: all .4s ease-in-out;
}

.leaflet-pane.leaflet-marker-pane img:hover {
    opacity: .8;
}